body {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    color:white;
    background: white;
    box-sizing: border-box;
  }

  h1 {
    text-align: center;
  }

  h4 {
    font-weight: lighter;
    text-transform:unset ;
    font-size: 18px;
  }
  header {
    height: 50px;
    background-color: #3e739d;
    border-bottom: 1px solid #494949;
    box-shadow: 0 10px 11px 0 #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
header > h1 {
    width: calc(100% - 160px);
    text-align: center;
    font-size: 25px;
    color: white;
}
header > .top {
   
    align-items: left;
}
header > .top a.menu_icon  {
    color: #000;
    font-size: 20px;
    padding-top: 5px;
    transition: .2s ease;
}
header > .top a.menu_icon:hover i {
    color: #fff;
}
.menu_show {
left:0!important;

}
nav.menu {
    top:50px;
    width: 170px;
    min-height: calc(50vh - 121px);
    background-color: #3e739d;
    position: absolute;
    left: -300px;
    transition: .3s all;
    box-shadow: 0 10px 11px #000;
}
nav.menu > a {
    display: block;
    padding: 5px;
    margin: 15px 0 0px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
nav.menu > a:hover { 
    color: red;
}
  .menu {
    position: relative;
    background: #7d8ff7;
    height: 40px;
    box-shadow: 0 10px 11px darkgray;
  }

  .menu #paddle {
    height: 30px;
    float: right;
  }

  .menu #burger {
    height: 30px;
    float: left
  }

  .img-container {
    height: 40px;
    float: left;
    width: 73.33%;
    padding: 8px
  }

  .img-container1 {
    height: 40px;
    float: left;
    width: 13.33%;
    padding: 3px 10px 3px 10px
  }

  #menu h2 {
    text-align: center;
    color: white;
    font-size: 28px
  }

  #main {
    position: relative;
    background-image: url("https://raw.githubusercontent.com/Zulinov/skillsProjects/main/canoe.jpg");
    background-color: #ccc;
    height: 500px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px
  }

  #main_text {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    max-width: 1200px
  }

  #main_text h3 {
    color: green;
    text-decoration: underline;
    font-size: 20px;
    text-transform: uppercase;}
  
    #main_text h2 {
    font-size: 40px;
  }

  #main h1 {
    text-align: center;
    text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
    font-size: 40px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding: 0px;
    margin: 5 px;
    max-width: 1200px
  }

  .flex-item-left {
    box-shadow: 10px 10px 11px black;
    margin: 8px;
    border: 1px solid black;
    padding: 10px;
    background-color: var(--blue);
    flex: 48%;
    border-radius: 10px
  }

  .flex-item-right {
    box-shadow: 10px 10px 11px black;
    margin: 8px;
    border: 1px solid black;
    padding: 10px;
    background-color: var(--blue);
    flex: 48%;
    border-radius: 10px
  }

  .flex-item-full {
    box-shadow: 10px 10px 11px black;
    margin: 4px 8px 8px 8px;
    border: 1px solid black;
    padding: 10px;
    background-color: var(--blue);
    flex: 100%;
    border-radius: 10px;
    height: 100%;
    text-align: center;
  }
  
  .dropdown {
    margin: 0;
    top: 34px;
    position: relative;
    height: 250px;
    width: 180px;
    background-color: #4d62db;
    
    text-align: left;
    color: black;
    display: none;
    box-shadow: 0 10px 11px black;
  }

  .button {
    border-style: solid;
    border-width : 1px 1px 1px 1px;
    border-radius: 5px;
    border-color : black;
    cursor: pointer;
  
    padding: 4px;
    margin:5px;
    position:unset;
    line-height: 30px;
    background: #6fdaf5;
    text-align: center;
  }  
  
  .dropdown a {
    text-decoration: none;  
    color: white
  }

  .dropdown a:focus,
  .dropdown .button:hover {
  background-color: rgb(143, 27, 27);
  color: White;
  }

  .footer {
    margin: 10px;
    margin-top: 20px;;
    height:100px;
    padding: 0px;
    background-color: var(--blue);
  }
  
    .row {
      display: -webkit-flex;
      display: flex;
    }
    
    .column {
      padding: 10px;
      height: 100px;
    }
    
    .column.side {
       -webkit-flex: 1;
       -ms-flex: 1;
       flex: 1;
    }
 
    .column.middle {
      -webkit-flex: 2;
      -ms-flex: 2;
      flex: 2;
    }
 
  @media only screen and (max-width:1200px) {
    #menu h2 {
      font-size: 1.5em
    }
    #main h1 {
      font-size: 2.9em
    }
    }
  
  @media only screen and (max-width:800px) {
    body {
      background-color: var(--black);
    }
    #menu h2 {
      font-size: 30px;
    }
    #main h1 {
      font-size:40px;
    }
    #main_text {
      margin: 1px 20px 10px 20px
    }
    .flex-item-left,
    .flex-item-right {
      flex: 100%
    }
    p {
      font-size: 15px;
    }
    }
    #main_text h2 {
      font-size: 22px;     
      }
    .flex-item-full {
      padding: 10px; 
    }
  
@media (max-width: 900px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }

  * { 
    box-sizing: border-box; 
    margin: 0px; 
    padding: 0px; 
} 

body { 
    font-family: 'Times New Roman', Times, serif; 
    background-color: #d6daf1; 
    color:black 
} 

.header { 
    height:80px; 
    text-align: center; 
    background: #3d4fb4; 
    height: 35px; 
    box-shadow: 0 10px 11px black; 
} 

.header #paddle { 
    height: 30px; 
    float: right; 
  } 

  .header #burger { 
    height: 30px; 
    float: left 
  } 

  .img-container { 
    height: 40px; 
    float: left; 
    width: 73.33%; 
    padding: 5px 
  } 

  .img-container1 { 
    height: 40px; 
    float: left; 
    width: 13.33%; 
    padding: 3px 10px 3px 10px 
  } 

  .header h2 { 
    text-align: center; 
    color: white; 
    font-size: 25px 
  } 

  .main { 
    margin-bottom: 0px; 
    position: relative; 
    background-image: url("https://raw.githubusercontent.com/Zulinov/skillsProjects/main/canoe.jpg"); 
    color: white; 
    height: 500px; 
    background-position: right; 
    background-repeat: no-repeat; 
    background-size:cover; 
    width: 100%; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 1200px 
  } 

  .main h1 { 
    text-align: center; 
    color: white; 
    text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000; 
    font-size: 48px; 
    margin: 0; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
  } 

#content { 
    text-align: center; 
    font-size: 15px; 
    margin: 10px; 
    padding: 50px; 
    width: 100%; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 1200px; 
} 

#content p{
    margin: 0px; 
    padding: 10px; 
    text-align: justify; 
    font-size: 20px; 
    max-width: 1200px; 
    border:#4855a0; 
    border-style: solid; 
    border-width : 1px 1px 1px 1px; 
    border-radius: 5px; 
    border-color : black; 
} 

  .footer { 
    background-color: #3d4fb4;
    padding: 10px; 
    text-align: center; 
  } 

  .dropdown { 
    margin: 0px; 
    padding: 0px; 
    position: relative; 
    height: 380px; 
    width: 160px; 
    background-color: #4855a0; 
    top: 30px; 
    text-align: center; 
    color: black; 
    box-shadow: 0 10px 11px #000; 
  } 
 


  